<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="left">
            <h1>RiceApp</h1>
        </div>
        <div class="right">
            <input type="checkbox" id="check">
            <label for="check" class="checkBtn">
                <i class="fa fa-bars"></i>
            </label>
            <ul class="list">
                <li><a routerLink="main-page">Home</a></li>
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="register">Register</a></li>
                <li><a routerLink="about-us">About Us</a></li>
                <li><a routerLink="contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>

<router-outlet></router-outlet>