<div class="login-card">
    <div class="card-header">
      <div class="log">Login</div>
    </div>
    <form> 
      <div class="form-group">
        <label for="username">Username:</label>
        <input required="" name="username" id="username" type="text">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input required="" name="password" id="password" type="password">
      </div>
      <div class="form-group">
        <a routerLink="/navbar/sellorbuy">Login</a>
      </div>
    </form>
  </div>
  
<router-outlet></router-outlet>